/*
* This file is loaded into your Hyde/Hyde installation and is used to generate the styles for your project.
* You can use this file to customize your TailwindCSS or to add new classes.
*
* The HydeFront package contains some base styles to make your site look even more amazing.
*
* The compiled result of this file is shipped with HydePHP and is found at _media/app.css,
* so you don't need to compile this file unless you're making changes.
*
* If you want, you can load the compiled file with minified styles for a base install from the CDN.
* See https://hydephp.com/docs/1.x/managing-assets#loading-from-cdn
*/

@import '~hydefront/dist/hyde.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.flexbox-horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.laravel a {
    color: red;
    text-decoration: underline;
}

.laravel a:hover {
    color: red;
    text-decoration: none !important;
}

.contact a {
    color: black;
    text-decoration: underline;
}

.contact a:hover {
    color: black;
    text-decoration: none !important;
}

.prose img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.light-bg {
    display: block;
}

.dark-bg {
    display: none;
}

.dark .light-bg {
    display: none;
}

.dark .dark-bg {
    display: block;
}

.github-repo:hover {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0.3),
            rgba(36, 36, 36, 0.2));
}

.contact-card {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg,
            rgba(241, 241, 241, 0.3),
            rgba(241, 241, 241, 1));
    border-radius: 10px;
}

.dark .contact-card {
    background-image: linear-gradient(120deg, rgba(24, 24, 27, 0.2), rgba(123, 123, 123, 0.307));
}

.line::before {
    content: "";
    height: 2px;
    background: linear-gradient(120deg, rgba(123, 123, 123, 0.5), rgba(24, 24, 27, 0.5));
    display: flex;
    margin-left: 20px;
    opacity: 1;
    position: relative;
}

.dark .line {
    background: linear-gradient(120deg, rgb(88, 88, 94), rgba(123, 123, 123, 1));
}

.plus::before {
    content: '+';
    color: rgba(123, 123, 123, 0.5);
    opacity: 1;
    margin-right: 2rem;
}

.dark\:prose-invert:is(.dark *) :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: #ffffff !important;
}

nav.scrolled {
    backdrop-filter: blur(48.2px);
    -webkit-backdrop-filter: blur(48.2px);
    background-color: initial;
    background-image: linear-gradient(#ffffff4d, #ffffff4d);
}

.dark nav.scrolled {
    border-bottom: 0.8px solid #ffffff;

    backdrop-filter: blur(48.2px);
    -webkit-backdrop-filter: blur(48.2px);
    background-color: initial;
    background-image: linear-gradient(#0404044d, #0000004d);
}

@import './mobile.css';
@import './animations.css'